*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header
{
    height: 100vh;
    background-color: #ecf0f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-container
{
    padding: 20px;
    height: 450px;
    width: 300px;
    text-align: center;
    box-shadow: 13px 13px 20px #cdced1 , -13px -13px 20px #fff;
    border-radius: 20px;

}
.img-layer
{

    width: 70px;
    height: 70px;
    margin: 20px auto;
    border: 3px solid #eee;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #cdced1;
}
.img-layer img
{
    width: 100%;
    border-radius: 50%;
}
.form-title
{
    padding-bottom: 40px;
}
.form-title h5
{
    letter-spacing: 2px;
}
.input-container
{
    border-radius: 25px;
    box-shadow: inset 5px 5px 5px #cdced1 , inset -5px -5px 5px #fff;
    width: 100%;
    height: 40px;
}
.input-container i
{
    color: #555;
    font-size: 12px;
    margin-right:5px;
}
input
{
    background-color: transparent;
    width: 80%;
    padding: 10px 0px;
}
input , button
{
    font-weight: bolder;
    border: none;
    outline: none;
}
button
{
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #02c8db;
    box-shadow:  3px 3px 5px #cdced1 ,  -3px -3px 5px #fff;
    border-radius: 25px;
    cursor: pointer;
}
button i
{
    margin-left: 15px;
}
p
{
    color: #555;
    font-size: 10px;
    padding-top: 10px;
}
